/* ------------------------------------------------------- */
body * {
  font-size: 0.75rem;
}

.popup {
  background-color: #eee;
}
.popup h2 {
  text-align: center;
  padding: 10px 0;
}

header {
  text-align: center;
}
header .top a { /* background-color: #aaa; */ }
header .top a #logo {
  margin: 50px 0 20px 0;
}
header .top ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: center;
}
header .top ul li {
  margin-right: 25px;
}
header .top ul li a {
  padding: 10px 7px;
  display: block;
  position: relative;
}
header .top ul li a span {
  position: absolute;
  border: 1px solid #ff7f50;
  display: block;
  top: 30px;
  right: -55%;
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 0.84rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header .top ul li:first-child {
  margin-right: 30px;
  position: relative;
}
header .top ul li:first-child > a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/arr.png) no-repeat;
  margin-left: 5px;
  position: absolute;
  top: 15px;
}
header .top ul .lang {
  background: #fff;
  display: block;
  position: absolute;
  left: -20px;
  border: 1px solid #aaa;
  z-index: 500;
}
header .top ul .lang a {
  font-size: 0.75rem;
}
header .top .all_nav {
  display: block;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 700px;
  height: 500px;
  z-index: 900;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 500px;
  border: 1px solid #ff7f50;
}
header .top .all_nav .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 700;
  padding: 10px;
  font-size: 1.5rem;
}
header .btm nav {
  width: 1300px;
  margin: 10px auto;
}
header .btm nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center; /* background-color: #ff7f50;  */
}
header .btm nav ul li {
  position: relative;
}
header .btm nav ul li > a {
  display: block;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 700;
}
header .btm nav ul li > a:hover {
  color: #ff7f50;
}
header .btm nav ul li .sub {
  display: block;
  position: absolute;
  z-index: 300;
  top: 100%;
  background: #fff;
  width: 100%;
  border: 1px solid #aaa;
}
header .btm nav ul li .sub li a {
  padding: 10px;
  display: block;
}

main .right_popup {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  transform: translateX(500px);
}
main .right_popup.on {
  transform: translateX(0);
}
main .right_popup #left_btn {
  width: 30px;
  border-bottom: 1px solid #444;
  display: flex;
  flex-flow: column;
}
main .right_popup #left_btn a:first-child {
  background: #ff7f50;
}
main .right_popup #left_btn a:nth-of-type(2) {
  padding-top: 4px;
}
main .right_popup #left_btn a:nth-of-type(3) {
  padding-top: 4px;
}
main .right_popup #left_btn a {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #444;
  background-color: #fff;
}
main .right_popup .contents {
  background: #fff;
  width: 500px;
  border: 1px solid #333;
  height: 100vh;
}
main .right_popup .contents h1 {
  text-align: center;
  margin-top: 30px;
}
main .right_popup .contents p:nth-of-type(1) {
  text-align: center;
  margin: 30px 0;
  font-size: 1rem;
  color: #aaa;
}
main .right_popup .contents .topmenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
main .right_popup .contents .topmenu a {
  width: 45%;
  border-bottom: 1px solid #222;
  font-size: 1rem;
  padding-bottom: 7px;
  text-transform: uppercase;
}
main .right_popup .contents .topmenu a span {
  font-size: 1rem;
  color: #ff7f50;
}
main .right_popup .contents .btmmenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 30px 0;
}
main .right_popup .contents .btmmenu a {
  width: 45%;
  border-bottom: 1px solid #222;
  font-size: 1rem;
  padding-bottom: 7px;
  text-transform: uppercase;
}
main .right_popup h2 {
  font-size: 1rem;
  margin: 20px 0 20px 15px;
  font-weight: 700;
}
main .right_popup .view {
  width: 150px;
  margin-left: 15px;
}
main .right_popup .view img {
  width: 100%;
}
main .right_popup p:last-child { /* width: 150px; */
  margin: 30px 0 30px 15px;
  font-size: 1rem;
}
main .right_popup address {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 15px;
}
main .visual {
  width: 100%;
}
main .visual img {
  width: 100%;
}
main .container1 {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .container1 a {
  width: 95%;
  margin-top: 60px;
}
main .container1 a img {
  width: 100%;
}
main h2 {
  text-align: center;
}
main .container2 h2 {
  margin: 60px 0;
  font-weight: 700;
}
main .container2 .product {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
main .container2 .product h3 {
  margin: 5px 0;
  padding: 0 7px;
}
main .container2 .product .price {
  font-weight: 700;
  padding: 0 7px;
}
main .container2 .product .item_btm {
  margin-top: 30px;
  padding: 7px 7px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
main .container2 .product .item_btm .size {
  width: 50%;
  border-top: 1px solid #000;
}
main .container2 .product .item_btm .review {
  width: 50%;
  text-align: right;
  border-top: 1px solid #000;
  color: #ff7f50;
}
main .container2 .product .item_btm p {
  margin-top: 5px;
  padding-bottom: 15px;
}
main .container2 .product .item_btm p .best {
  background-color: #ffe4c4;
  color: #fff;
  font-size: 0.71rem;
  padding: 3px 5px;
}
main .container2 .product .item_btm p .order {
  background-color: #000080;
  color: #fff;
  font-size: 0.71rem;
  padding: 3px 5px;
}
main .container3 {
  background: url(../images/made_img.jpg);
  height: 200px;
  text-align: center;
  margin: 60px 0 80px;
  position: relative;
  padding: 60px 0;
}
main .container3 h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
main .container3 a {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  position: absolute;
  transform: translate(-50%, 70%);
}
main .lin {
  border-bottom: 1px solid #aaa;
}
main footer {
  margin: 0 auto;
  width: 1300px;
  padding: 30px 0;
}
main footer .fter div a {
  margin-right: 10px;
  color: #aaa;
}
main footer .fter div a:nth-of-type(2) {
  color: #555;
}
main footer .fter div a:last-child {
  margin-right: 0;
}
main footer .fter address p {
  margin: 15px 0;
}/*# sourceMappingURL=main.css.map */